body {
  font-family: helvetica;
  position: relative;
  background: #20212e;
  background-size: cover;
  color: #fff8e0;
  text-align: left;
}

body::before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 0 0 10px;
  position: fixed;
  height: 100vh;
  z-index: -1;
}

body h1 {
  font-family: fantasy;
  font-size: 500%;
}

body h2 {
  font-family: fantasy;
  font-size: 300%;
}

body h3 {
  background-color: #fab856;
  padding: 1%;
}

body a {
  font-size: 110%;
  font-style: italic;
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff8e0;
}

body ahover {
  color: #5682d3;
}

body br {
  height: 2rem;
}

body hr {
  border: solid 1px;
  width: 95%;
  color: #fff8e0;
}

body .container-fluid {
  margin-left: auto;
}

.navbar {
  background-color: #fab856;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#landing {
  background: url(https://images.pexels.com/photos/2911519/pexels-photo-2911519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
}

#landing::before {
  content: "";
  background: rgba(43, 42, 42, 0.6);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

#landing .landing-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 10%;
}

#landing h1 {
  font-family: fantasy;
  font-size: 500%;
}

#landing .fa {
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 1.5rem;
}

.about-grid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 7%;
}

.about-grid #image {
  border-radius: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}

@media screen and (max-width: 700px) {
  .about-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills .title {
  text-transform: uppercase;
  padding: 10px 0;
  display: block;
}

.skills .percent {
  font-family: fantasy;
  font-size: 625%;
}

.skills .whole-chart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .col-lg-6 {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 45%;
}

@media screen and (max-width: 1000px) {
  .skills .col-lg-6 {
    grid-column-gap: 30%;
  }
}

@media screen and (max-width: 700px) {
  .skills .col-lg-6 .percent {
    font-family: fantasy;
    font-size: 325%;
  }
}

@media screen and (max-width: 445ox) {
  .skills .col-lg-6 {
    -ms-grid-columns: auto atuo;
        grid-template-columns: auto atuo;
  }
}

@media screen and (max-width: 290px) {
  .skills .col-lg-6 {
    grid-column-gap: 10%;
  }
}

@media screen and (max-width: 245px) {
  .skills .col-lg-6 {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.resume .col-lg-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  position: relative;
  grid-column-gap: 15%;
}

.resume .resume-title {
  text-transform: uppercase;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4%;
}

.resume h3 {
  font-weight: bold;
  height: 10%;
}
