body{
    font-family: helvetica;
    position: relative;
    background: url(https://images.pexels.com/photos/2911519/pexels-photo-2911519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;

    &::before{
        content: "";
        background: rgba(0,0,0, 0.50);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        height: 100vh;
        z-index: -1;
    }
}


$tertiary-color: rgb(86, 130, 211);
$secondary-color: rgb(250, 196, 116);
$primary-color: rgb(255, 226, 189);
$color: rgb(255, 248, 224);


.top-section{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}


#landing{
    width: 50%;
    height: 80%;
    background-color: $color;
    position: relative;
    //display: block;
    
    
    
    &::before{
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    h1{
        font-family: fantasy;
        font-weight: 10%0;
        font-size: 60px;
        text-transform: uppercase;
    }

    h2{
        font-size: 20px;
    }

    #link{
        text-decoration: none;
        color: $secondary-color;
        transition: 1s;
        font-style: italic;
        font-size: 1.5rem;
        &:hover{
            color: $tertiary-color;
            text-decoration: underline;
        }
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.skills{
    border-radius: 0;
    padding: 2%;
    width: 15%;
    height: 20%;
    background: #040404;
    color: $color;

    #skills-title{
        font-family: fantasy;
    }

    .skill-progress{
        display: grid;
        grid-template-columns: auto auto;
    }

    .percent{
        text-align: center;
        font-size: 200%;
        font-family: fantasy;
    }
}