$tertiary-color: rgb(86, 130, 211);
$secondary-color: rgb(250, 184, 86);
$primary-color: rgb(253, 215, 165);
$color: rgb(255, 248, 224);
$background: #20212e;

//everything
body{
    font-family: helvetica;
    position: relative;
    background: $background;
    background-size: cover;
    color: $color;
    text-align: left;

    &::before{
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 0 0 10px;
        position: fixed;
        height: 100vh;
        z-index: -1;
    }

    h1{
        font-family: fantasy;
        font-size: 500%;
    }

    h2{
        font-family: fantasy;
        font-size: 300%;
    }

    h3{
        background-color: $secondary-color;
        //width: 38%;
        padding: 1%;
    }

    a{
        font-size: 110%;
        font-style: italic;
        transition: 1s;
        color: $color;

        &hover{
            color: $tertiary-color;
        }
    }

    br{
        height: 2rem;
    }

    hr{
        border: solid 1px;
        width: 95%;
        color: $color;
    }

    .container-fluid{
            margin-left: auto;
    }
}


//navbar
.navbar{
    background-color: $secondary-color;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


//landing-page
#landing{
    background: url(https://images.pexels.com/photos/2911519/pexels-photo-2911519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;

    &::before{
        content: "";
        background: rgba(43, 42, 42, 0.6);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute
    }
    .landing-container{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 0 0 10%;
    }
    h1{
        font-family: fantasy;
        font-size: 500%;
    }
    .fa{
        padding-top: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;;
        font-size: 1.5rem;
    }
    
}


//About me section
.about-grid{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    #image{
        border-radius: 100%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5%;
    }

    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
}


//skills
.skills{
    .title{
        text-transform: uppercase;
        padding: 10px 0;
        display: block;
    }
    .percent{
        font-family: fantasy;
        font-size: 625%;
    }
    //#compu{
        //background-color: $secondary-color;
        //border-radius: 100%;
        //margin-top: auto;
        //margin-bottom: auto;
        //padding: 2rem;
        //float: left;
    //}
    
    .whole-chart{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-lg-6{
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 45%;

        @media screen and (max-width: 1000px) {
            grid-column-gap: 30%;
        }
        @media screen and (max-width: 700px) {
            .percent{
                font-family: fantasy;
                font-size: 325%;
            }
        }
        @media screen and (max-width: 445ox){
            grid-template-columns: auto atuo;
        }
        @media screen and (max-width: 290px) {
            grid-column-gap: 10%;
        }
        @media screen and (max-width: 245px) {
            grid-template-columns: auto;
        }
        }
    }



//education
.resume{
    .col-lg-6{
        display: grid;
        grid-template-columns: auto auto;
        position: relative;
        grid-column-gap: 15%;
        //gap: 100px;
    }

    .resume-title{
        text-transform: uppercase;
        padding: 15px ;
        display: flex;
        flex-direction: row;
        gap: 4%
        //gap: 100px;
    }



    h3{
        font-weight: bold;
        height: 10%;
    }
}

